# Environment variables
.env
.env.*
!.env.example

# VS Code
.vscode/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/

# Python packaging
*.egg-info/
dist/
build/

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# OS files
.DS_Store
Thumbs.db